body {
  font-family: Arial;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background: #00ffcc;
  cursor: pointer;
}
